body{ 
    background-color: slategray;
    font-family: 'Overpass';
}
h1{
    font-size: 1.7em;
    color: darkblue
}
h2{
    font-size: 1.2em;
    color: blue;
}
li{
    list-style: none;
    margin:0;
}
#completed-tasks label{
    text-decoration: line-through;
}
button{
    color: forestgreen;
    background-color: aliceblue;
    border-color: black;
    border-style: dotted;
}
.add{color: green;}
.edit{color: orange;}
.delete{color: red;}